:root {
  --bg-dark: #0f172a;
  --side-bg: #1e1b4b;
  --card-bg: #1e293b;
  --primary: #8b5cf6;
  --white: #f8fafc;
  --muted: #94a3b8;
  --border: #334155;
  --green: #10b981;
  --red: #f43f5e;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  margin: 0;
  background-color: var(--bg-dark);
  color: var(--white);
}

.app-wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  background: var(--side-bg);
  padding: 30px;
  border-right: 1px solid var(--border);
}
.logo {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 50px;
}
.logo span {
  color: var(--primary);
}
.nav-links {
  list-style: none;
  padding: 0;
}
.nav-item {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--muted);
}
.nav-item.active {
  background: var(--primary);
  color: white;
}

.content-area {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.api-status {
  background: #1e293b;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.8rem;
  border: 1px solid var(--border);
  margin-right: 15px;
}

.hidden {
  display: none !important;
}
.card {
  background: var(--card-bg);
  padding: 25px;
  border-radius: 16px;
  border: 1px solid var(--border);
  margin-bottom: 25px;
}
.stats-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 25px;
}
.canvas-wrapper {
  position: relative;
  height: 300px;
  width: 100%;
}

.ledger {
  list-style: none;
  padding: 0;
}
.ledger li {
  background: #111827;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid transparent;
}
.ledger li.plus {
  border-left-color: var(--green);
}
.ledger li.minus {
  border-left-color: var(--red);
}

.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
input,
select {
  padding: 14px;
  background: #0f172a;
  border: 1px solid var(--border);
  color: white;
  border-radius: 10px;
}
input {
  flex: 1;
}
select {
  width: 100px;
  cursor: pointer;
}
#item-desc {
  width: 100%;
  margin-bottom: 20px;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.text-green {
  color: var(--green);
}
.text-red {
  color: var(--red);
}
.progress-outer {
  background: #0f172a;
  height: 12px;
  border-radius: 6px;
  margin-top: 15px;
  overflow: hidden;
}
.progress-bar {
  background: var(--primary);
  height: 100%;
  width: 0%;
  transition: 0.6s ease;
}
